@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #2fa8cc;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scores-head-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

#refreshBtn {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2fa8cc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #999;
}

#refreshBtn:hover {
  background-color: #2ac5b0;
}

#refreshBtn:active {
  background-color: #2ac5b0;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

#scoresList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 5px #666;
}

.leaderboard-container {
  width: 100%;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.leaderboard-container:nth-child(even) {
  background-color: #999;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#formBtn {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #2fa8cc;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px #999;
}

#formBtn:hover {
  background-color: #2ac5b0;
}

#formBtn:active {
  background-color: #2ac5b0;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}
